{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Réalisations {% endblock %}

{% block body %}
    <section class="realisation">
            <div>
                <h1>Réalisations</h1>
            </div>
        <img src="{{ asset('build/realisations/realisations.png') }}" alt="realisation-image" title="image de la section réalisation">
    </section>
    <section>
        <nav class="navbar navbar-expand-lg d-flex justify-content-center navbar-light bg-light">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    {% for category in categories %}
                    <li class="nav-item active mx-5">
                        <a class="nav-link font-weight-bold" href="{{ path('realisations', { category : category.name }) }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </section>
    <div class="container-fluid">
        <div class="row">
            {% for realisation in realisations %}
                <div class="col-3">
                    <div class="card realisation-picture m-1 mb-5">
                        <img class="card-img-top" src="{{ asset('uploads/' ~ realisation.name) }}" alt="{{ realisation.name }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}